.modal-overlay{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(82, 197, 235, 0.8);    
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    position: fixed;
    width: 500px;
    min-height: 20vh;
}

.modal-content{
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 400px;
    min-height: 400px;
    overflow-y: auto;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-weight: bold;
}

.modal-close{
    position: absolute;
    top:10px;
    right: 10px;
    background: none;
    font-size: 20px;
    cursor: pointer;
}
